/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }


@font-face {
  font-family: Helvetica-Var;
  src: url(./font/HELVETICA-NOW-VAR.TTF);
}
@font-face {
  font-family: VintageGlam;
  src: url(./font/vintageGlamour/VINTAGEGLAMOURITALIC-DO471.TTF);
}

*{
  user-select: none;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  list-style: none; 
  font-family: Helvetica-Var;
  font-variation-settings: "opsz" 36;
  color: #131A35;
  cursor: none;
  background-color: #C4DAED;
}
figure{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
figure img{
  width:-webkit-fill-available;
  height:-webkit-fill-available;
  border: solid 2px #131A35;
  object-fit: cover;
}
section.pager{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}
section.pager div{
  padding: 20px;
  border: solid 2px #131A35;
  display: flex;
  flex-direction: column;
}
section.pager div p{
  margin: 0;
  font-size: calc(.9vw + .2vh - .05em);
}
section.pager div h3, h1, h2, h4{
  margin: 0;
}

h3.title{
  font-family: VintageGlam;
  font-size: calc(3.6vw - .3em);
}
.love{
  font-size: calc(2.3vw - .5em);
  font-weight: 700;
}
.code{
  grid-column: 1/5;
  grid-row: 1/4;
  background-color: #EDB5E7;
}
.cours{
  grid-column: 8/12;
  grid-row: 4/9;
  align-items: center;
  justify-content: space-around;
  background-color: #3FA87C;
  color: #C4DAED;
}
.cours .avail{
  font-size: calc(3.6vw - .6em);
  text-align: center;
  width: 15vw;
  font-weight: 1000;
}
.cours .title{
  font-size: calc(3.6vw - .7em);
}
.dna{
  grid-column: 5/12;
  grid-row: 1/4;
  background-color: #F7FE8E;
}
.i{
  grid-column: 1/8;
  grid-row: 4/9;
}
.ii{
  grid-column: 12/21;
  grid-row: 1/6;
  width: 100%;
  height: 100%;
}
.hpb{
  grid-column: 12/21;
  grid-row: 6/9;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #F8A0A0;
}
.hpb h3{
  font-size: 3.6vw;
  text-align: center;
  font-weight: 1000;
  z-index: 99;
}
.cursor{
  width: 100px;
  height: 100px;
  background-color: #c4daed86;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border:solid 1px #c4daeddc;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  backdrop-filter:blur(4px);
  rotate:-45deg;
  opacity: 0;
  transition: 10ms;
  scale: 0;
}
.bigf img{
  scale: 1 !important;
}
.dot{
  width: 10px;
  height: 10px;
  background-color: #131A35;
  display: flex;
  border-radius: 50%;
  z-index: 10000;
  position: fixed;
  pointer-events: none;
  
}

section.thecode{
  height: 100vh;
  display: flex;
  flex-direction: column; 
  padding: 40px 20px;
  justify-content: center;
  gap: 20px;
}
section.thecode *{
  margin: 0;
}
section.thecode p{
  width: -webkit-fill-available;
}
section.thecode h2{
  font-family: vintageGlam;
  font-size: calc(8vw - .3em);
}
section.thecode p{
  font-size: calc(1.2vw + .2vh - .05em);
  text-align: justify;
}
.but{
  display: flex;
  gap: 20px;
  align-items: center;
}
.download{
  background-color: #edb5e7;
  padding: 10px 30px;
  border-radius: 50px;
  border: solid 3px #131A35;
  display: flex;
  gap: 10px;
  font-weight: 700;
  box-shadow: 3px 5px 0 #131A35;
  transition: .5s;
  font-size: calc(.9vw + .2vh - .05em);
  align-items: center;
}
svg path{
  transition: .5s;
}
.download:hover{
  box-shadow: 2px 4px 0 #131A35;
  transform: translate(1px,1px);
}
.download:active{
  box-shadow: 0px 0px 0 #131A35;
  transform: translate(3px,5px);
  background-color: #131A35;
  color: #EDB5E7;
  border-color:#edb5e7;
}
.download:active svg path{
  fill:#edb5e7;
}
.download:disabled{
  border-color: #A1A1A1;
  background-color: #1c1c1c;
  color: #A1A1A1;
  box-shadow: 0 0 0 #A1A1A1;
  box-shadow: 3px 5px 0 #1c1c1c;
}
.download:disabled svg path{
  fill:#A1A1A1;
}
.download:disabled:hover{
  transform: translate(0px,0px);
}
.download:disabled:active{
  transform: translate(0px,0px);
}
.vid{
  border: none;
  font-size: calc(.9vw + .2vh - .05em);
  font-weight: 700;
  color: #131A35;
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  background-color: transparent;
  padding: 0;
}
.player{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.player video{
  border-radius: 10px;
  width: 50%;
  cursor: none;
}
button{
  cursor: none;
}
.player .exit{
  width: 10px;
  height: 10px;
}
.cursorpp{
  width: 100px;
  height: 100px;
  background-color: #c4daed86;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border:solid 1px #c4daeddc;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  backdrop-filter:blur(4px);
  rotate:-180deg;
  transition: 10ms;
  opacity: 0;
  scale: 0;
}
.cursorpp svg{
  width: 30px;
  position: absolute;
}
.cursorpp svg:nth-child(1){
  scale: 0;
}
.cursorpp svg:nth-child(2){
  scale: 0;
}
section.thecode span{
  display: none;
}
.backg{
  width: 100%;
  height: 100%;
  background-color: #1c1c1c94;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: .5s;
  opacity: 0;
  z-index: 1;
}
.cross{
  position: absolute;
  top:10px;
  right:50px;
}
.cross svg{
  width: 40px;
}

section.thecode{
  height: 100vh;
  display: flex;
  flex-direction: column; 
  padding: 40px 20px;
  justify-content: center;
  gap: 20px;
}
section.thedna *{
  margin: 0;
}
section.thedna p{
  width: -webkit-fill-available;
}
section.thedna h2{
  font-family: vintageGlam;
  font-size: calc(8vw - .3em);
}
section.thedna p{
  font-size: calc(1.5vw + .3vh - .07em);
  text-align: justify;
}
.imgur{
  display: flex;
  gap: 40px;
}
.imgur figure{
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgur figure h3{
  position: absolute;
  font-size: calc(2.3vw - .5em);
  mix-blend-mode: difference;
  color: #C4DAED;
} 
@media screen and (max-width: 1000px){
  *{
    cursor:auto;
  }
  button{
    cursor: pointer;
  }
  video{
    cursor: pointer;
  }
  figure{
    display: none;
  }
  section.pager{
    display: flex;
    flex-direction: column;
  }
  section.pager div{
    height: -webkit-fill-available;
    border-width: .2vw;
    align-items: center;
    justify-content: center;
    padding: 17px;
    
  }
  section.pager div p{
    font-size: calc(.7em + .6vw);
  }
  h3.title{
  font-size: calc(2em + 2vw);
  }
  .cours .title{
    font-size: calc(2em + 2vw)
  }
  .love{
    font-size: calc(20px + 1vw);
  }
  .cours .avail{
    font-size: calc(20px + 1vw);
    width: auto;
  }
  .hpb h3{
    font-size: calc(30px + 2vw);
  }
  section.thecode{
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  section.thecode p{
    font-size: calc(.8em + .6vw);
  }
  section.thecode h2{
    font-size: calc(3.6em + 2vw);
  }
  section.thecode button{
    font-size: calc(.6em + .6vw);
  }
  section.thecode span{
    display: block;
    font-size: calc(.63em + .6vw);
    color: #3F88C5;
  }
  section.thecode .download{
    padding: 8px 30px;
  }
  .player video{
    width: 96%;
  }
  section.thedna{
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  section.thedna p{
    font-size: calc(.8em + .6vw);
  }
  section.thedna h2{
    font-size: calc(3.6em + 2vw);
  }
  section.thedna h3{
    font-size: calc(2em + 1vw);
  }
  .imgur{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

}
