@font-face {
  font-family: Helvetica-Var;
  src: url(./font/HELVETICA-NOW-VAR.TTF);
}
@font-face {
  font-family: VintageGlam;
  src: url(./font/vintageGlamour/VINTAGEGLAMOURITALIC-DO471.TTF);
}
.tltl{
  transform: translateY(40px);
  opacity: 0;
}

*{
  user-select: none;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  list-style: none; 
  font-family: Helvetica-Var;
  font-variation-settings: "opsz" 36;
  color: #131A35;
  cursor: none;
  background-color: #C4DAED;
}
figure{
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
figure img{
  width:-webkit-fill-available;
  height:-webkit-fill-available;
  border: solid 2px #131A35;
  object-fit: cover;
  overflow: hidden;
}

section.pager figure img{
  height: 0;
}
section.pager figure img:nth-child(1){
  animation: up 1.2s forwards;
}
section.pager{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}
section.pager div{
  overflow: hidden;
  scale: 0;
  padding: 20px;
  border: solid 2px #131A35;
  display: flex;
  flex-direction: column;
  animation: scaling 1s forwards;
}
section.pager div p{
  margin: 0;
  font-size: clamp(.4em,20px,1vw);
}
section.pager div h3, h1, h2, h4{
  margin: 0;
}

h3.title{
  font-family: VintageGlam;
  font-size: clamp(.5em,3vw,50px);
}
.love{
  font-size: clamp(.2em,2.3vw,30px);
  font-weight: 700;
}
.code{
  grid-column: 1/5;
  grid-row: 1/4;
  background-color: #EDB5E7;
  animation-delay: .2s;
}
.cours{
  grid-column: 8/12;
  grid-row: 4/9;
  align-items: center;
  justify-content: space-around;
  background-color: #3FA87C;
  color: #C4DAED;
}
.cours .avail{
  font-size: clamp(.5em,3vw,50px);
  text-align: center;
  width: 15vw;
  font-weight: 1000;
}
.cours .title{
  font-size: calc(3.6vw - .7em);
}
.dna{
  grid-column: 5/12;
  grid-row: 1/4;
  background-color: #F7FE8E;
  animation-delay: .3s;
}
.i{
  grid-column: 1/8;
  grid-row: 4/9;
}
.ii{
  grid-column: 12/21;
  grid-row: 1/6;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}
.hpb{
  grid-column: 12/21;
  grid-row: 6/9;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #F8A0A0;
  animation-delay: .5s;
}

.hpb h3{
  font-size: clamp(.5em,3vw,50px);
  text-align: center;
  font-weight: 1000;
  z-index: 99;
}
.cursor{
  width: 100px;
  height: 100px;
  background-color: #c4daed86;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border:solid 1px #c4daeddc;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  backdrop-filter:blur(4px);
  rotate:-45deg;
  opacity: 0;
  transition: 10ms;
  scale: 0;
}
.bigf img{
  scale: 1 !important;
  opacity: 1 !important;
  transition: all .5 cubic-bezier(1,-0.42,.2,1.32);
}
.dot{
  width: 10px;
  height: 10px;
  background-color: #131A35;
  display: flex;
  border-radius: 50%;
  z-index: 10000;
  position: fixed;
  pointer-events: none;
  
}

section.thecode{
  height: 100vh;
  display: flex;
  flex-direction: column; 
  padding: 40px 20px;
  justify-content: center;
  gap: 20px;
}
section.thecode *{
  margin: 0;
}
section.thecode p{
  width: -webkit-fill-available;
}
section.thecode h2{
  font-family: vintageGlam;
  font-size: clamp(7em,10vw,100px);
}
section.thecode p{
  font-size: clamp(.2em,2.5vw,22px);
  text-align: justify;
}
#thecode p{
  transform: translateY(40px);
  opacity: 0;
}
.but{
  display: flex;
  gap: 20px;
  align-items: center;
}
.download{
  background-color: #edb5e7;
  padding: 10px 30px;
  border-radius: 50px;
  border: solid 3px #131A35;
  display: flex;
  gap: 10px;
  font-weight: 700;
  box-shadow: 3px 5px 0 #131A35;
  transition: .5s;
  font-size: calc(.9vw + .2vh - .05em);
  align-items: center;
  opacity: 0;
}
svg path{
  transition: .5s;
}
.download:hover{
  box-shadow: 2px 4px 0 #131A35;
  transform: translate(1px,1px);
}
.download:active{
  box-shadow: 0px 0px 0 #131A35;
  transform: translate(3px,5px);
  background-color: #131A35;
  color: #EDB5E7;
  border-color:#edb5e7;
}
.download:active svg path{
  fill:#edb5e7;
}
.download:disabled{
  border-color: #A1A1A1;
  background-color: #1c1c1c;
  color: #A1A1A1;
  box-shadow: 0 0 0 #A1A1A1;
  box-shadow: 3px 5px 0 #1c1c1c;
}
.download:disabled svg path{
  fill:#A1A1A1;
}
.download:disabled:hover{
  transform: translate(0px,0px);
}
.download:disabled:active{
  transform: translate(0px,0px);
}
.vid{
  border: none;
  font-size: calc(.9vw + .2vh - .05em);
  font-weight: 700;
  color: #131A35;
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  background-color: transparent;
  padding: 0;
  opacity: 0;
}
.player{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  background-color: #1c1c1c94;
}
.player video{
  border-radius: 10px;
  width: 50%;
  cursor: none;
  scale: 0;
}
.videoscale{
  animation: scaling .5s forwards;
  animation-delay:.1s;
}
button{
  cursor: none;
}
.player .exit{
  width: 10px;
  height: 10px;
}
.cursorpp{
  width: 100px;
  height: 100px;
  background-color: #c4daed86;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border:solid 1px #c4daeddc;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  backdrop-filter:blur(4px);
  rotate:-180deg;
  transition: 10ms;
  opacity: 0;
  scale: 0;
  z-index: 999;
}
.cursorpp svg{
  width: 30px;
  position: absolute;
}
.cursorpp svg:nth-child(1){
  scale: 0;
}
.cursorpp svg:nth-child(2){
  scale: 0;
}
section.thecode span{
  display: none;
}
.cross{
  position: absolute;
  top:10px;
  right:50px;
}
.cross svg{
  width: 40px;
}

section.thecode{
  height: 100vh;
  display: flex;
  flex-direction: column; 
  padding: 40px 20px;
  justify-content: center;
  gap: 20px;
}
#dna{
  border-bottom: solid 2px #131A35;
}
#dna h2{
  transform: translateY(40px);
  opacity: 0;
}
section.thedna *{
  margin: 0;
}
section.thedna p{
  width: -webkit-fill-available;
  scale: 0;
}


.imgur{
  display: flex;
  gap: 40px;
}
.imgur figure{
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
}
.imgur figure img{
  filter: grayscale(1);
  transition: .5s;
  scale: 1;
}
.imgur figure:hover img{
  filter: grayscale(0);
  scale: 1.2;
}
.imgur figure h3{
  position: absolute;
  font-size: calc(2.3vw - .5em);
  mix-blend-mode: difference;
  color: #C4DAED;
} 

footer{
  background-color: #3F88C5;
  height: 50vh;
  width: 100%;
  display: flex;
  position: relative;
  color: #C4DAED;
}
footer *{
  margin: 0;
}
footer section{
  padding:50px 40px;
  width: 100%;
  border: solid 2px #131A35;
}
footer img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10vw;
  mix-blend-mode:color-burn;
}
footer section h2{
  font-size: calc(5vw - .3em);
  font-weight: 1000;
}
footer section h3{
  font-size: calc(2.3vw - .5em);
  font-weight: 700;
}
footer .dcu{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .dcu h3{
  font-family: vintageGlam;
  font-size: calc(2em + 2vw);
}
footer .dcu nav{
  gap: 10px;
  display: flex;
  flex-direction: column;
}
footer .dcu nav li{
  font-size: calc(1.4vw + .2vh - .05em);
  font-weight: 500;
}

@media screen and (max-width: 1000px){
  *{
    cursor:auto;
  }
  button{
    cursor: pointer;
  }
  p{
    scale: 1;
  }
  .download{
    opacity: 1;
  }
  .vid{
    opacity: 1 ;
  }
  #thecode h2{
    transform: translateY(0);
    opacity: 1;
  }
  #thecode p{
    transform: translateY(0);
    opacity: 1;
  }
  #dna h2{
    transform: translateY(0);
    opacity: 1;
  }
  #dna p{
    scale: 1;
  }
  #dna figure{
    scale: 1;
  }
  video{
    cursor: pointer;
  }
  figure{
    display: none;
  }
  section.pager{
    display: flex;
    flex-direction: column;
  }
  section.pager div{
    scale: 1;
    opacity: 0;
    height: -webkit-fill-available;
    border-width: .2vw;
    align-items: center;
    justify-content: center;
    padding: 17px;
    height: 100%;
    animation: opac .5s forwards;
  }

  section.pager div.dna{
    animation-delay: .1s;
  }
  section.pager div.cours{
    animation-delay: .2s;
  }
  section.pager div.hpb{
    animation-delay: .3s;
  }
  section.pager div p{
    font-size: calc(.7em + .6vw);
  }
  h3.title{
  font-size: calc(2em + 2vw);
  }
  .cours .title{
    font-size: calc(2em + 2vw)
  }
  .love{
    font-size: calc(20px + 1vw);
  }
  .cours .avail{
    font-size: calc(20px + 1vw);
    width: auto;
  }
  .hpb h3{
    font-size: calc(30px + 2vw);
  }
  section.thecode{
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  section.thecode p{
    font-size: calc(.8em + .6vw - .2vh);
  }
  section.thecode h2{
    font-size: calc(3.6em + 2vw - 2vh);
  }
  section.thecode button{
    font-size: calc(.6em + .6vw);
  }
  section.thecode span{
    display: block;
    font-size: calc(.63em + .6vw);
    color: #3F88C5;
  }
  section.thecode .download{
    padding: 8px 30px;
  }
  .player video{
    width: 96%;
    scale: 1;
  }
  .videoscale{
    animation: none;
  }
  section.thedna{
    align-items: center;
    justify-content: center;
    gap: 20px;
    
  }
  section.thedna p{
    font-size: calc(.8em + .6vw);
  }
  section.thedna h2{
    font-size: calc(3.6em + 2vw);
  }
  section.thedna h3{
    font-size: calc(2em + 1vw);
  }
  .imgur{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .imgur figure img{
  filter: grayscale(0);
  transition: .5s;
  scale: 1;
}
  footer{
    flex-direction: column;
    height: 100vh;
  }
  .aco{
    display: none;
  }
  footer section{
    width: auto;
    height: 100%;
    align-items: center;
    text-align: center;
  }
  footer .dcu nav li{
    font-size: calc(20px + .7vw);
  }
  footer img{
    width: 35vw;
  }
}
@media screen and (max-height:500px){
  section.pager{
    display: none;
  }
  section{
    margin-bottom: 70vh;
  }
  footer{
    display: none;
  }
  .player video{
    width: 50%;
  }
  .thedna{
    border-bottom: none !important;
  }
}

@keyframes scaling {
  0%{
    scale: 0;
  }
  100%{
    scale: 1;
  }
}
@keyframes up {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
@keyframes opac {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}